*{
  box-sizing: border-box;
}
body{
  margin: 0px;
  font-family: inter,sans-serif;
  background-color: #282D35;

}

nav{
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding:30px 25px ;
}
nav > h3,nav > h4{
  margin: 0px;
}
nav>h3{
  color: #61DAFB;
  margin-right: auto;
  font-weight:700px;
  font-size: 22px;
}
nav > h4{
  color: #deebf8;
  font-weight: bold;
}
main{
  padding: 57px 27px;
  color: #fff;
  background-image: url("C:\Users\Admin\Music\React facts\facts\public\facts.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
  z-index: 999;
  
}

.main--title{
  margin: 0px;
  font-size: 39px;
  letter-spacing: -0.05em;
  font-size: Inter;
  font-style: normal;
  font-weight: bold;
  line-height: 47px;
}

.main--facts>li{
line-height: 19px; 
padding-block: 10px;

}
.main--facts{
  margin-top: 46px;
  max-width: 400px;
}

.main--facts>li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}